Django>=4.2
djangorestframework
mysqlclient
redis
django-redis
django-elasticsearch-dsl
gunicorn
Faker>=19.0.0
# --- elasticsearch ---
django-elasticsearch-dsl>=7.3,<8.0
elasticsearch-dsl>=7.0,<8.0
elasticsearch>=7.0,<8.0
drf-yasg